<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<insert id="insertMember" parameterType="member.dto.MemberDTO">
		INSERT INTO member(member_id, password, member_name, phone_number, address, email, gender, age, grade, signup_date)
		VALUES(#{member_id}, #{password}, #{member_name}, #{phone_number}, #{address}, #{email}, #{gender}, #{age}, '일반', sysdate)
	</insert>

	<select id="selectById" parameterType="string" resultType="member.dto.MemberDTO">
		SELECT * FROM member
		WHERE member_id = #{member_id}
	</select>
	<!-- select문은 parameterType(input), resultType(output) 속성 사용가능 -->

	<update id="updateMember" parameterType="member.dto.MemberDTO">
		UPDATE member
		SET member_name=#{member_name}, password=#{password}, address=#{address}, gender=#{gender}, age=#{age}, phone_number=#{phone_number}, email=#{email}
		WHERE member_id=#{member_id}
	</update>

</mapper>