<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="shop">
	<select id="list" parameterType="shop.dto.ShopPageDTO" resultType="shop.dto.ShopDTO">
		<![CDATA[
			SELECT b.*
			FROM(SELECT rownum as rm, a.*
			     FROM (SELECT *
			           FROM product
			           )a)b
			WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>
	
	<select id="count" resultType="int">
		SELECT count(*) FROM product
	</select>
	
	<select id="product" parameterType="int" resultType="shop.dto.ShopDTO">
		SELECT * FROM product
		WHERE product_id = #{product_id}
	</select>
	
	<select id="orderCheck" parameterType="member.dto.MemberDTO" resultType="int">
		SELECT count(*) FROM order_info
		WHERE member_id=#{member_id} AND status='inCart'
	</select>
	
	<insert id="newOrder" parameterType="member.dto.MemberDTO">
		INSERT INTO order_info(order_id, member_id, status)
		VALUES(order_id_seq.nextval, #{member_id}, 'inCart')
	</insert>
	
	<insert id="addCart" parameterType="shop.dto.CartDTO">
		INSERT INTO cart(cart_id, order_id, product_id, product_count)
		VALUES(cart_id_seq.nextval, #{order_id}, #{product_id}, #{product_count})
	</insert>
	
	<select id="pickOrder" parameterType="member.dto.MemberDTO" resultType="shop.dto.OrderInfoDTO">
		SELECT * FROM order_info
		WHERE member_id=#{member_id} AND status='inCart'
	</select>
	
	<select id="listCart" parameterType="shop.dto.OrderInfoDTO" resultMap="productSelect">
		SELECT c.*, p.product_name, p.price
		FROM cart c, product p
		WHERE c.product_id = p.product_id AND c.order_id=#{order_id}
	</select>
	
	<resultMap id="productSelect" type="shop.dto.CartDTO" autoMapping="true">
		<association property="shopDTO" javaType="shop.dto.ShopDTO" autoMapping="true">
		</association>
	</resultMap>
	
	<delete id="deleteCart" parameterType="shop.dto.CartDTO">
		DELETE FROM cart
		WHERE order_id=#{order_id} AND product_id=#{product_id}
	</delete>
	
	<update id="editCart" parameterType="shop.dto.CartDTO">
		UPDATE cart
		SET product_count=#{product_count}
		WHERE order_id=#{order_id} AND product_id=#{product_id}
	</update>
	
</mapper>