<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="shop">
	<select id="list" parameterType="shop.dto.ShopPageDTO" resultType="shop.dto.ShopDTO">
		<![CDATA[
			SELECT b.*
			FROM(SELECT rownum as rm, a.*
			     FROM (SELECT *
			           FROM product
			           )a)b
			WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>
	
	<select id="count" resultType="int">
		SELECT count(*) FROM product
	</select>
	
	<select id="product" parameterType="int" resultType="shop.dto.ShopDTO">
		SELECT * FROM product
		WHERE product_id = #{product_id}
	</select>
	
	<select id="orderCheck" parameterType="member.dto.MemberDTO" resultType="int">
		SELECT count(*) FROM order_info
		WHERE member_id=#{member_id} AND status='inCart'
	</select>
	
	<insert id="newOrder" parameterType="member.dto.MemberDTO">
		INSERT INTO order_info(order_id, member_id, status)
		VALUES(order_id_seq.nextval, #{member_id}, 'inCart')
	</insert>
	
	<insert id="addCart" parameterType="shop.dto.CartDTO">
		INSERT INTO cart(cart_id, order_id, product_id, product_count)
		VALUES(cart_id_seq.nextval, #{order_id}, #{product_id}, #{product_count})
	</insert>
	
	<select id="pickOrder" parameterType="member.dto.MemberDTO" resultType="shop.dto.OrderInfoDTO">
		SELECT * FROM order_info
		WHERE member_id=#{member_id} AND status='inCart'
	</select>
	
	<select id="listCart" parameterType="shop.dto.OrderInfoDTO" resultMap="productSelect">
		SELECT c.*, p.product_name, p.price
		FROM cart c, product p
		WHERE c.product_id = p.product_id AND c.order_id=#{order_id}
	</select>
	
	<resultMap id="productSelect" type="shop.dto.CartDTO" autoMapping="true">
		<association property="shopDTO" javaType="shop.dto.ShopDTO" autoMapping="true">
		</association>
	</resultMap>
	
	<delete id="deleteCart" parameterType="shop.dto.CartDTO">
		DELETE FROM cart
		WHERE order_id=#{order_id} AND product_id=#{product_id}
	</delete>
	
	<update id="editCart" parameterType="shop.dto.CartDTO">
		UPDATE cart
		SET product_count=#{product_count}
		WHERE order_id=#{order_id} AND product_id=#{product_id}
	</update>
	
	<select id="cartCheck" parameterType="shop.dto.CartDTO" resultType="shop.dto.CartDTO">
		SELECT * FROM cart
		WHERE order_id=#{order_id} AND product_id=#{product_id}
	</select>
	
	<select id="search" parameterType="string" resultType="shop.dto.ShopDTO">
		SELECT * FROM product
		WHERE product_name LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="countResult" parameterType="string" resultType="int">
		SELECT count(*) FROM product
		WHERE product_name LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="category" parameterType="string" resultType="shop.dto.ShopDTO">
		SELECT * FROM product
		WHERE category LIKE '%' || #{category} || '%'
	</select>
	
	<select id="countCategory" parameterType="string" resultType="int">
		SELECT count(*) FROM product
		WHERE category LIKE '%' || #{category} || '%'
	</select>
	
	<update id="purchase" parameterType="shop.dto.OrderInfoDTO">
		UPDATE order_info
		SET status='inOrder', order_date=to_char(sysdate, 'yyyy-mm-dd hh:mi:ss')
		WHERE order_id=#{order_id}
	</update>
	
	<update id="addSellCount" parameterType="shop.dto.ShopDTO">
		UPDATE product
		SET sellCount= sellCount + #{sellCount}
		WHERE product_id=#{product_id}
	</update>
	
	<select id="getWeeklyHotId" resultType="int">
		<![CDATA[
		SELECT b.product_id
		FROM(SELECT rownum as rm, a.*
		     FROM (SELECT product_id
		           FROM (SELECT o.*, c.product_id, c.product_count 
		                 FROM order_info o
		                 JOIN cart c ON o.order_id = c.order_id
		                 WHERE to_date(order_date, 'yyyy-mm-dd hh24:mi:ss') > sysdate - 7 AND status!='inCart')
		           GROUP BY product_id
		           ORDER BY sum(product_count) DESC
		           )a)b
		WHERE b.rm>=1 AND b.rm<=4
		]]>
	</select>
	
</mapper>